{% extends 'base.html.twig' %}

{% block title %}Les Pizzas{% endblock %}

{% block body %}
    {% for pizza in pizzas %}
        <div class="form-control">
            <h2>Name : {{ pizza.name }}</h2>
            <h2>Price : {{ pizza.price }} €</h2>

            <a class="btn btn-primary" href="{{ path("app_pizza",{id:pizza.id}) }}">Voir la pizza</a>
        </div>
    {% endfor %}

    <br>
    <br>

{% endblock %}

